In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('bookstore.csv')

DataFrames und Series sind Objekte aus pandas, die einfach ausgedrück unsere Daten enthalten.

Ein DataFrame ist hierbei eine Tabelle, wie man sie aus Excel kennt und lässt sich genauso in Zeilen (index) und Spalten (columns) einordnen. Jeder DataFrame ist hierbei ein 2-Dimensionales Objekt und setzt sich aus ein oder mehreren Series zusammen. Diese sind vergleichbar mit einer einzelnen Spalte bzw. mit einer einzelnen Zeile und ist dementsprechend ein 1-dimensionales Objekt.

Wichtig: Es ist ein Unterschied, ob wir eine Series haben mit 100 Einträgen oder einen DataFrame mit 1 x 100 Einträgen. Der Inhalt ist zwar der Selbe, allerdings sind sie als verschiedene Objekte in pandas implementiert und viele Funktionen und Methoden funktionieren nur mit einem bestimmten der beiden Formate!

DATA FRAME ANSCHAUEN

Zu den ersten Schritten bei der Analyse von Daten gehört das Verstehen der Daten und dies fängt bereits beim simplen anschauen der Tabelle an. Ein DataFrame kann allerdings sehr viele Zeilen besitzen, weshalb man sich meist nur einzelne wenige Zeilen anschaut.

Wichtig: display() sorgt bei einem DataFrame für eine schönere Ausgabe als print()

In [3]:
display(df.head(7))

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good
5,Buddenbrooks,"Mann, Thomas",2001,7.99,1.99,very good
6,The Physician,"Gordon, Noah",2003,25.95,1.29,like new

WIHTIGE ECKDATEN

Wichtig ist es sich einen Überblick zu verschaffen was für Daten vorliegen. In unserem Fall haben wir eine Liste an gebrauchten Büchern mit Titel, Autor und anderen Eckdaten.

Konventionell befinden sich in einem DataFrame in den Zeilen die einzelnen Datenpunkte, hier entspricht das jeweils einem gebrauchten Buch. Oft finden wir die Zeilen nummeriert vor, dies muss aber nicht immer der Fall sein. (index)

Die Spalten stehen dementsprechend für eine spezielle Eigenschaft, bspw. den Verkaufspreis. Die Bezeichnung einer Eigenschaft finden wir als Beschriftung der entsprechenden Spalte vor. (columns)

In [ ]:
print(df.shape) # Größe des DataFrames, Zeilen, Spalten

(30, 6)

In [ ]:
print(df.index) # indizes des dataframes

RangeIndex(start=0, stop=30, step=1)

In [ ]:
print(df.columns) # Colums, Überschrift des DataFrames

Index(['Title', 'Author', 'Publication Year', 'List Price', 'Sale Price',
       'Condition'],
      dtype='object')

df.shape gibt die Größe eines DataFrames aus. Die erste Zahl steht hierbei für die Zeilen- und die zweite für die Spaltenanzahl. Auf diese Zahlen lassen sich durch df.shape[0] und df.shape[1] zugreifen.

df.index gibt alle Indizes eines DataFrames zurück. Die Rückgabe ist hierbei ähnlich zu der Funktion range(). Wir können hier sehen, dass der Index von 0 bis (nicht inklusive) 30 in 1er-Schritten läuft.

df.columns gibt die Columns eines DataFrames zurück. Die Rückgabe ist hierbei ähnlich zu einer Liste, was bedeutet, dass man auch auf die selbe Weise auf einzelne Einträge zugegreifen oder verändern kann.