Im folgenden liegt uns eine Bücherliste names bookstore als csv-Datei vor. Diese beinhaltet gebrauchte Bücher mit entsprechend dazu kennzeichnenden Eigenschaften.

Benutze die Methoden und Attribute

df.head()
df.tail()
df.index
df.columns
df.shape
um folgende Aufgaben zu bearbeiten:

Aufgabe 1:

Die ersten 2 Zeilen und die letzten beiden Zeilen sollen ausgegeben werden.

In [ ]:
import pandas as pd

In [1]:
import pandas as pd

df = pd.read_csv("bookstore.csv")

# Aufgabe 1
display(df.head(2))
display(df.tail(2))

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new

,Title,Author,Publication Year,List Price,Sale Price,Condition
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

Aufgabe 1:

Hier bieten sich die Methoden df.head() und df.tail() an, deren Parameter zur Anzahl an ausgegebenen Zeilen auf 2 gesetzt werden muss. Auf diese Weise haben wir dann zwei Ausgaben.

Es gibt Möglichkeiten diese Zeilen in einen neuen DataFrame zusammezuführen, allerdings ist das für die reine Ausgabe hier nicht notwendig.

Aufgabe 2:

Die Spaltenbeizeichung der aller ersten Spalte soll ausgegeben werden

In [2]:
print(df.columns[0])

Title

Aufgabe 2:

Hier bietet sich an auf das Attribut df.columns zuzugreifen. Dieses gibt allerdings alle Spaltenbezeichnungen aus, nicht nur die erste.

Zum Glück lässt sich mit df.columns ähnlich wie mit Listen umgehen, wodurch wir mit df.columns[0] auf den ersten Eintrag zugreifen können

Was ist die letzte Indexbezeichnung der Zeilenindizes?

In [3]:
print(df.index[-1])

29

oder

In [4]:
print(df.index[29])

29

Aufgabe 3:

Hier bietet sich an auf das Attribut df.index zuzugreifen. Genau wie bei df.columns können wir hier auch ähnlich wie mit Listen arbeiten.

Es gibt hierdurch die Möglichkeit durch df.index[-1] auf den letzten Eintrag zuzugreifen. Alternativ kann man auch df.index[29] nutzen, wenn man weiß, dass wir 30 Zeilen haben.