In [3]:
def sag_hallo():
    print('Moin')

sag_hallo()

Moin

In [4]:
77 + 88

165

In [5]:
sag_hallo()

Moin

In [6]:
a = 100

In [7]:
print(a)

100

In [8]:
import pandas as pd

In [10]:
pd.read_csv('bookstore.csv')

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good
5,Buddenbrooks,"Mann, Thomas",2001,7.99,1.99,very good
6,The Physician,"Gordon, Noah",2003,25.95,1.29,like new
7,The Alchemist,"Coelho, Paulo",1999,7.50,1.29,like new
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",2006,7.99,2.49,very good
9,Pope Joan,"Cross, Donna W.",2003,24.95,0.99,like new
10,Inkheart,"Funke, Cornelia",2005,9.99,0.99,like new
11,Outlander,"Gabaldon, Diana",1987,6.99,1.29,very good
12,The House of the Spirits,"Allende, Isabel",2003,7.99,1.49,very good
13,The Reader,"Schlink, Bernhard",1996,6.99,1.29,very good
14,Faust,"Goethe, Johann Wolfgang von",2005,7.50,2.49,very good
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1998,5.99,1.29,very good
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

In [12]:
df = pd.read_csv('bookstore.csv')

In [16]:
df

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good
5,Buddenbrooks,"Mann, Thomas",2001,7.99,1.99,very good
6,The Physician,"Gordon, Noah",2003,25.95,1.29,like new
7,The Alchemist,"Coelho, Paulo",1999,7.50,1.29,like new
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",2006,7.99,2.49,very good
9,Pope Joan,"Cross, Donna W.",2003,24.95,0.99,like new
10,Inkheart,"Funke, Cornelia",2005,9.99,0.99,like new
11,Outlander,"Gabaldon, Diana",1987,6.99,1.29,very good
12,The House of the Spirits,"Allende, Isabel",2003,7.99,1.49,very good
13,The Reader,"Schlink, Bernhard",1996,6.99,1.29,very good
14,Faust,"Goethe, Johann Wolfgang von",2005,7.50,2.49,very good
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1998,5.99,1.29,very good
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

In [14]:
df.head(5)

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good

In [15]:
df.tail(5)

,Title,Author,Publication Year,List Price,Sale Price,Condition
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

In [17]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.shape # Zeilenanzahl, Spaltenanzahl

(30, 6)

In [ ]:
df.columns # überschrift

Index(['Title', 'Author', 'Publication Year', 'List Price', 'Sale Price',
       'Condition'],
      dtype='object')

In [ ]:
df.index # Wie bei range, index wird ausgegeben

RangeIndex(start=0, stop=30, step=1)

In [23]:
df.pad

<bound method NDFrame.pad of                                         Title                       Author  \
0                       The Lord of the Rings              Tolkien, J.R.R.
1                                   The Bible  International Bible Society
2                    The Pillars of the Earth                 Follett, Ken
3            Perfume: The Story of a Murderer             Süskind, Patrick
4                           The Little Prince    Saint-Exupéry, Antoine de
5                                Buddenbrooks                 Mann, Thomas
6                               The Physician                 Gordon, Noah
7                               The Alchemist                Coelho, Paulo
8       Harry Potter and the Sorcerer’s Stone                Rowling, J.K.
9                                   Pope Joan              Cross, Donna W.
10                                   Inkheart              Funke, Cornelia
11                                  Outlander              Gabaldon, Diana
12                   The House of the Spirits              Allende, Isabel
13                                 The Reader            Schlink, Bernhard
14                                      Faust  Goethe, Johann Wolfgang von
15                     The Shadow of the Wind           Ruiz Zafón, Carlos
16                        Pride and Prejudice                 Austen, Jane
17                       The Name of the Rose                 Eco, Umberto
18                            Angels & Demons                   Brown, Dan
19                                Effi Briest             Fontane, Theodor
20  Harry Potter and the Order of the Phoenix                Rowling, J.K.
21                         The Magic Mountain                 Mann, Thomas
22                         Gone with the Wind           Mitchell, Margaret
23                                 Siddhartha               Hesse, Hermann
24                    The Discovery of Heaven               Mulisch, Harry
25                      The Neverending Story                Ende, Michael
26                            The Hidden Word                   Hahn, Ulla
27                             Angela’s Ashes               McCourt, Frank
28                     Narcissus and Goldmund               Hesse, Hermann
29                        The Mists of Avalon       Zimmer Bradley, Marion

    Publication Year  List Price  Sale Price  Condition
0               1992        7.99        2.69   like new
1               2003        7.50        2.49   like new
2               2002       19.95        1.49  very good
3               2003       19.95        1.29  very good
4               2006       24.95        2.59       good
5               2001        7.99        1.99  very good
6               2003       25.95        1.29   like new
7               1999        7.50        1.29   like new
8               2006        7.99        2.49  very good
9               2003       24.95        0.99   like new
10              2005        9.99        0.99   like new
11              1987        6.99        1.29  very good
12              2003        7.99        1.49  very good
13              1996        6.99        1.29  very good
14              2005        7.50        2.49  very good
15              1998        5.99        1.29  very good
16              2006        6.99        1.29   like new
17              2001        7.99        1.49  very good
18              1998        5.95        1.29   like new
19              2006       19.95        1.29  very good
20              1995        7.99        1.99  very good
21              2004        6.99        1.79       good
22              2006        6.50        1.29   like new
23              2005        7.99        1.99       good
24              1994        7.99        1.29  very good
25              1978       26.95        1.49  very good
26              2000        6.99        1.29   like new
27              2003       24.95        1.29  very good
28              2004        6.99        1.29   like new
29              2000        5.99        1.29  very good  >

In [24]:
df.loc[3]

Title               Perfume: The Story of a Murderer
Author                              Süskind, Patrick
Publication Year                                2003
List Price                                     19.95
Sale Price                                      1.29
Condition                                  very good
Name: 3, dtype: object

In [25]:
df.loc[0]

Title               The Lord of the Rings
Author                    Tolkien, J.R.R.
Publication Year                     1992
List Price                           7.99
Sale Price                           2.69
Condition                        like new
Name: 0, dtype: object

In [ ]:
df.loc[1:3] # bis einschließlich 3

,Title,Author,Publication Year,List Price,Sale Price,Condition
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good

In [28]:
df.loc[10:20:2]

,Title,Author,Publication Year,List Price,Sale Price,Condition
10,Inkheart,"Funke, Cornelia",2005,9.99,0.99,like new
12,The House of the Spirits,"Allende, Isabel",2003,7.99,1.49,very good
14,Faust,"Goethe, Johann Wolfgang von",2005,7.50,2.49,very good
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good

In [30]:
df.loc[10:15]

,Title,Author,Publication Year,List Price,Sale Price,Condition
10,Inkheart,"Funke, Cornelia",2005,9.99,0.99,like new
11,Outlander,"Gabaldon, Diana",1987,6.99,1.29,very good
12,The House of the Spirits,"Allende, Isabel",2003,7.99,1.49,very good
13,The Reader,"Schlink, Bernhard",1996,6.99,1.29,very good
14,Faust,"Goethe, Johann Wolfgang von",2005,7.50,2.49,very good
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1998,5.99,1.29,very good

In [31]:
df.loc[1] # wird als series zurück gegben als eine spalte

Title                                 The Bible
Author              International Bible Society
Publication Year                           2003
List Price                                  7.5
Sale Price                                 2.49
Condition                              like new
Name: 1, dtype: object

In [32]:
type(df.loc[1])

pandas.core.series.Series

In [ ]:
df.loc[1:1] #hier in tabellenform

,Title,Author,Publication Year,List Price,Sale Price,Condition
1,The Bible,International Bible Society,2003,7.5,2.49,like new

In [37]:
df.loc[3:8, 'Title']

3         Perfume: The Story of a Murderer
4                        The Little Prince
5                             Buddenbrooks
6                            The Physician
7                            The Alchemist
8    Harry Potter and the Sorcerer’s Stone
Name: Title, dtype: object

In [38]:
df.loc[3:8, ['Title', 'List Price']]

                                   Title  List Price
3       Perfume: The Story of a Murderer       19.95
4                      The Little Prince       24.95
5                           Buddenbrooks        7.99
6                          The Physician       25.95
7                          The Alchemist        7.50
8  Harry Potter and the Sorcerer’s Stone        7.99

In [52]:
df.loc[:, 'Title'] #von anfang bis ende von der spalte titel

0                         The Lord of the Rings
1                                     The Bible
2                      The Pillars of the Earth
3              Perfume: The Story of a Murderer
4                             The Little Prince
5                                  Buddenbrooks
6                                 The Physician
7                                 The Alchemist
8         Harry Potter and the Sorcerer’s Stone
9                                     Pope Joan
10                                     Inkheart
11                                    Outlander
12                     The House of the Spirits
13                                   The Reader
14                                        Faust
15                       The Shadow of the Wind
16                          Pride and Prejudice
17                         The Name of the Rose
18                              Angels & Demons
19                                  Effi Briest
20    Harry Potter and the Order of the Phoenix
21                           The Magic Mountain
22                           Gone with the Wind
23                                   Siddhartha
24                      The Discovery of Heaven
25                        The Neverending Story
26                              The Hidden Word
27                               Angela’s Ashes
28                       Narcissus and Goldmund
29                          The Mists of Avalon
Name: Title, dtype: object

In [ ]:
df.iloc[0:4, [0,2]] # iloc ist die integer location  , 4 ist exclusive, o te spalte mit spalte 2

                              Title  Publication Year
0             The Lord of the Rings              1992
1                         The Bible              2003
2          The Pillars of the Earth              2002
3  Perfume: The Story of a Murderer              2003

In [53]:
df.loc[0, 'Title'] = 'Kira Rules'

In [54]:
df

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,Kira Rules,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good
5,Buddenbrooks,"Mann, Thomas",2001,7.99,1.99,very good
6,The Physician,"Gordon, Noah",2003,25.95,1.29,like new
7,The Alchemist,"Coelho, Paulo",1999,7.50,1.29,like new
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",2006,7.99,2.49,very good
9,Pope Joan,"Cross, Donna W.",2003,24.95,0.99,like new
10,Inkheart,"Funke, Cornelia",2005,9.99,0.99,like new
11,Outlander,"Gabaldon, Diana",1987,6.99,1.29,very good
12,The House of the Spirits,"Allende, Isabel",2003,7.99,1.49,very good
13,The Reader,"Schlink, Bernhard",1996,6.99,1.29,very good
14,Faust,"Goethe, Johann Wolfgang von",2005,7.50,2.49,very good
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1998,5.99,1.29,very good
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

In [57]:
df.loc[3:15, 'Publication Year'] = 1500

In [58]:
df

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,Kira Rules,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",1500,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",1500,24.95,2.59,good
5,Buddenbrooks,"Mann, Thomas",1500,7.99,1.99,very good
6,The Physician,"Gordon, Noah",1500,25.95,1.29,like new
7,The Alchemist,"Coelho, Paulo",1500,7.50,1.29,like new
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",1500,7.99,2.49,very good
9,Pope Joan,"Cross, Donna W.",1500,24.95,0.99,like new
10,Inkheart,"Funke, Cornelia",1500,9.99,0.99,like new
11,Outlander,"Gabaldon, Diana",1500,6.99,1.29,very good
12,The House of the Spirits,"Allende, Isabel",1500,7.99,1.49,very good
13,The Reader,"Schlink, Bernhard",1500,6.99,1.29,very good
14,Faust,"Goethe, Johann Wolfgang von",1500,7.50,2.49,very good
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1500,5.99,1.29,very good
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good

In [59]:
df.loc[:, 'gelesen'] = False

In [60]:
df

,Title,Author,Publication Year,List Price,Sale Price,Condition,gelesen
0,Kira Rules,"Tolkien, J.R.R.",1992,7.99,2.69,like new,False
1,The Bible,International Bible Society,2003,7.50,2.49,like new,False
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good,False
3,Perfume: The Story of a Murderer,"Süskind, Patrick",1500,19.95,1.29,very good,False
4,The Little Prince,"Saint-Exupéry, Antoine de",1500,24.95,2.59,good,False
5,Buddenbrooks,"Mann, Thomas",1500,7.99,1.99,very good,False
6,The Physician,"Gordon, Noah",1500,25.95,1.29,like new,False
7,The Alchemist,"Coelho, Paulo",1500,7.50,1.29,like new,False
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",1500,7.99,2.49,very good,False
9,Pope Joan,"Cross, Donna W.",1500,24.95,0.99,like new,False
10,Inkheart,"Funke, Cornelia",1500,9.99,0.99,like new,False
11,Outlander,"Gabaldon, Diana",1500,6.99,1.29,very good,False
12,The House of the Spirits,"Allende, Isabel",1500,7.99,1.49,very good,False
13,The Reader,"Schlink, Bernhard",1500,6.99,1.29,very good,False
14,Faust,"Goethe, Johann Wolfgang von",1500,7.50,2.49,very good,False
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1500,5.99,1.29,very good,False
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new,False
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good,False
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new,False
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good,False
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good,False
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good,False
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new,False
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good,False
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good,False
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good,False
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new,False
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good,False
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new,False
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good,False

In [61]:
df.loc[:, 'Doppelter Preis'] = df.loc[:, 'List Price'] * 2

In [62]:
df

,Title,Author,Publication Year,List Price,Sale Price,Condition,gelesen,Doppelter Preis
0,Kira Rules,"Tolkien, J.R.R.",1992,7.99,2.69,like new,False,15.98
1,The Bible,International Bible Society,2003,7.50,2.49,like new,False,15.00
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good,False,39.90
3,Perfume: The Story of a Murderer,"Süskind, Patrick",1500,19.95,1.29,very good,False,39.90
4,The Little Prince,"Saint-Exupéry, Antoine de",1500,24.95,2.59,good,False,49.90
5,Buddenbrooks,"Mann, Thomas",1500,7.99,1.99,very good,False,15.98
6,The Physician,"Gordon, Noah",1500,25.95,1.29,like new,False,51.90
7,The Alchemist,"Coelho, Paulo",1500,7.50,1.29,like new,False,15.00
8,Harry Potter and the Sorcerer’s Stone,"Rowling, J.K.",1500,7.99,2.49,very good,False,15.98
9,Pope Joan,"Cross, Donna W.",1500,24.95,0.99,like new,False,49.90
10,Inkheart,"Funke, Cornelia",1500,9.99,0.99,like new,False,19.98
11,Outlander,"Gabaldon, Diana",1500,6.99,1.29,very good,False,13.98
12,The House of the Spirits,"Allende, Isabel",1500,7.99,1.49,very good,False,15.98
13,The Reader,"Schlink, Bernhard",1500,6.99,1.29,very good,False,13.98
14,Faust,"Goethe, Johann Wolfgang von",1500,7.50,2.49,very good,False,15.00
15,The Shadow of the Wind,"Ruiz Zafón, Carlos",1500,5.99,1.29,very good,False,11.98
16,Pride and Prejudice,"Austen, Jane",2006,6.99,1.29,like new,False,13.98
17,The Name of the Rose,"Eco, Umberto",2001,7.99,1.49,very good,False,15.98
18,Angels & Demons,"Brown, Dan",1998,5.95,1.29,like new,False,11.90
19,Effi Briest,"Fontane, Theodor",2006,19.95,1.29,very good,False,39.90
20,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",1995,7.99,1.99,very good,False,15.98
21,The Magic Mountain,"Mann, Thomas",2004,6.99,1.79,good,False,13.98
22,Gone with the Wind,"Mitchell, Margaret",2006,6.50,1.29,like new,False,13.00
23,Siddhartha,"Hesse, Hermann",2005,7.99,1.99,good,False,15.98
24,The Discovery of Heaven,"Mulisch, Harry",1994,7.99,1.29,very good,False,15.98
25,The Neverending Story,"Ende, Michael",1978,26.95,1.49,very good,False,53.90
26,The Hidden Word,"Hahn, Ulla",2000,6.99,1.29,like new,False,13.98
27,Angela’s Ashes,"McCourt, Frank",2003,24.95,1.29,very good,False,49.90
28,Narcissus and Goldmund,"Hesse, Hermann",2004,6.99,1.29,like new,False,13.98
29,The Mists of Avalon,"Zimmer Bradley, Marion",2000,5.99,1.29,very good,False,11.98