Im folgenden liegt uns eine Bücherliste names bookstore als csv-Datei vor. Diese beinhaltet gebrauchte Bücher mit entsprechend dazu kennzeichnenden Eigenschaften.

Die describe() Methode gibt uns die wichtigsten statistischen Kennzahlen aller numerischen Spalten eines DataFrames aus. Optisch ähnelt die Ausgabe auch einem DataFrame.

Aufgabe 1: DATENTYP ÜBERPRÜFEN

Überprüfe zunächst mithilfe der type() Funktion ob die describe() Methode tatsächlich ein DataFrame ist, oder es nur so wirkt. Falls es ein anderer Datentyp ist: Welcher ist es?

Der Datentyp einer Variable lässt sich überprüfen, indem die Variable der type() Funktion übergeben wird. Hier erhalten wir die Ausgabe <pandas.core.frame.DataFrame> und sehen damit, dass es sich um einen DataFrame handelt.

In [1]:
import pandas as pd

df = pd.read_csv("bookstore.csv")

# Datentyp überprüfen
print(type(df.describe()))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
df.describe() # nummerische werte werden ausgegeben

       Publication Year  List Price  Sale Price
count          30.00000   30.000000   30.000000
mean         2000.40000   11.679333    1.593333
std             6.28408    7.406566    0.500678
min          1978.00000    5.950000    0.990000
25%          1998.25000    6.990000    1.290000
50%          2003.00000    7.990000    1.290000
75%          2004.75000   17.460000    1.940000
max          2006.00000   26.950000    2.690000

Aufgabe 2: ALLE MITTELWERTE UND STANDARDABWEICHUNGEN

Da die describe() Methode tatsächlich einen DataFrame ausgibt, können wir anschließend bspw. mithilfe der loc[,] Methode auf einzelne Einträge zugreifen. Lass dir in Kombination von describe() und loc[,] alle Mittelwerte und Standardabweichungen der numerischen Spalten ausgeben.

Die Aufgabe lässt sich ohne Probleme in kleineren Schritten lösen.

Man kann zunächst den DataFrame, der durch df.describe() erzeugt wird, einer neuen Variablen zuweisen. Auf diese kann man im Anschluss ohne Probleme die loc[,] Methode anwenden. Zu beachten ist hier allerdings, dass der index nicht numeriert ist, sondern aus strings besteht.

Alternativ kann man ohne Variablenzuweisung arbeiten und die loc[,] Methode direkt hinter der describe() Methode benutzen.

VARIANTE 1

In [3]:
df_describe = df.describe()
display(df_describe.loc[['mean', 'std'],:])

      Publication Year  List Price  Sale Price
mean        2000.40000   11.679333    1.593333
std            6.28408    7.406566    0.500678

VARIANTE 2

In [4]:
display(df.describe().loc[['mean', 'std']])

      Publication Year  List Price  Sale Price
mean        2000.40000   11.679333    1.593333
std            6.28408    7.406566    0.500678