Im folgenden liegt uns eine Bücherliste names bookstore als csv-Datei vor. Diese beinhaltet gebrauchte Bücher mit entsprechend dazu kennzeichnenden Eigenschaften.

Je größer die Anzahl an Büchern in dieser List ist, desto größer ist auch die Wahrscheinlichkeit, dass ein Buch doppelt vorkommt. Genauso ist es natürlich auch möglich, dass es zwei verschiedene Bücher gibt, die von ein und dem selben Autor geschrieben wurden.

Überprüfe ob wir doppelte Einträge in unserer Liste haben, sowohl für die Spalte "Title", als auch für die Spalte "Author". Orientiere dich dabei an folgendem Vorgehen:

In [5]:
import pandas as pd

df = pd.read_csv("bookstore.csv")

df.head()

,Title,Author,Publication Year,List Price,Sale Price,Condition
0,The Lord of the Rings,"Tolkien, J.R.R.",1992,7.99,2.69,like new
1,The Bible,International Bible Society,2003,7.50,2.49,like new
2,The Pillars of the Earth,"Follett, Ken",2002,19.95,1.49,very good
3,Perfume: The Story of a Murderer,"Süskind, Patrick",2003,19.95,1.29,very good
4,The Little Prince,"Saint-Exupéry, Antoine de",2006,24.95,2.59,good

Wie viele unterschiedliche Einträge gibt es?

Zum Überprüfen, ob doppelte Einträge vorliegen, bietet sich die nunique() Methode an. Diese gibt die Anzahl an einzigartigen Einträgen aus. Da wir in der Spalte "Title" genau so viele einzigartige Einträge, wie Anzahl Zeilen haben (=30), haben wir keinen einzigen Eintrag doppelt.

In der Spalte "Author" hingegen haben wir nur 27 einzigartige Einträge, weshalb hier doppelte Einträge sein müssen. Diese können wir im zweiten Schritt mithilfe der value_counts() Methode finden. Zu unserem Vorteil ist auch, dass die Ausgabe von value_counts() bereits vorsortiert ist, wodurch wir direkt sehen können dass Thomas Mann, Hermann Hesse und J.K. Rowling doppelt vertreten sind.

In [ ]:
# einzigartige Einträge
print("Einzigartige Einträge - Title: ", df.loc[:, "Title"].nunique())     # KEINE Dopplung, da gleich der Zeilenanzahl
print("Einzigartige Einträge - Author: ", df.loc[:, "Author"].nunique())    # Dopplung, da weniger als Zeilenanzahl

# doppelte Einträge
display(df.loc[:, "Author"].value_counts()) # value counts steht für doppelt

Einzigartige Einträge - Title:  30
Einzigartige Einträge - Author:  27

Author
Mann, Thomas                   2
Hesse, Hermann                 2
Rowling, J.K.                  2
Tolkien, J.R.R.                1
Ruiz Zafón, Carlos             1
McCourt, Frank                 1
Hahn, Ulla                     1
Ende, Michael                  1
Mulisch, Harry                 1
Mitchell, Margaret             1
Fontane, Theodor               1
Brown, Dan                     1
Eco, Umberto                   1
Austen, Jane                   1
Schlink, Bernhard              1
Goethe, Johann Wolfgang von    1
International Bible Society    1
Allende, Isabel                1
Gabaldon, Diana                1
Funke, Cornelia                1
Cross, Donna W.                1
Coelho, Paulo                  1
Gordon, Noah                   1
Saint-Exupéry, Antoine de      1
Süskind, Patrick               1
Follett, Ken                   1
Zimmer Bradley, Marion         1
Name: count, dtype: int64

KURZSCHREIBWEISE

In [4]:
# einzigartige Einträge
print("Einzigartige Einträge - Title:  ", df["Title"].nunique())     # KEINE Dopplung, da gleich der Zeilenanzahl
print("Einzigartige Einträge - Author: ", df["Author"].nunique())    # Dopplung, da weniger als Zeilenanzahl

# doppelte Einträge
display(df["Author"].value_counts())

Einzigartige Einträge - Title:   30
Einzigartige Einträge - Author:  27

Author
Mann, Thomas                   2
Hesse, Hermann                 2
Rowling, J.K.                  2
Tolkien, J.R.R.                1
Ruiz Zafón, Carlos             1
McCourt, Frank                 1
Hahn, Ulla                     1
Ende, Michael                  1
Mulisch, Harry                 1
Mitchell, Margaret             1
Fontane, Theodor               1
Brown, Dan                     1
Eco, Umberto                   1
Austen, Jane                   1
Schlink, Bernhard              1
Goethe, Johann Wolfgang von    1
International Bible Society    1
Allende, Isabel                1
Gabaldon, Diana                1
Funke, Cornelia                1
Cross, Donna W.                1
Coelho, Paulo                  1
Gordon, Noah                   1
Saint-Exupéry, Antoine de      1
Süskind, Patrick               1
Follett, Ken                   1
Zimmer Bradley, Marion         1
Name: count, dtype: int64